@{
    await Geoprofs.Database.Select.PersoneelSelectQuery();

    ViewData["Title"] = "Personeelsoverzicht";
    string[] columns = { "ID", "RANK", "NAAM", "WACHTWOORD", "ACTIES" };
    List<Dictionary<string, object>> obj = Program.personeel;
    if(Program.currentuser.rankid == 10)
    {
    <button><a href="/Page/Register">Nieuwe personeel</a></button>
    }
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string column in columns)
            {
                <th scope="col">@column</th>
            }
        </tr>
    </thead>
    <tbody id="jeff">
        @for (int i = 0; i < obj.Count; i++)
        {
            <tr>
                <td><b>@obj[i]["personeelid"]</b></td>
                <td><b>@obj[i]["rankid"]</b></td>
                <td>@obj[i]["personeelsnaam"]</td>
                <td>@obj[i]["password"]</td>
                <td>
                    <button><a style="text-decoration: none;color:black;" href="/Page/Update/@obj[i]["linkageid"]">Aanpassen</a></button>
                    <button onclick="deleteuser(@obj[i]["personeelid"])">Verwijderen</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function deleteuser(id) {
            fetch("http://localhost:5000/Medewerker/" + id,{
                method: "DELETE"
            }).then(() => {
                
            })
        }
             function GetUsers(){
            fetch("http://localhost:5000/Medewerker").then((response) => response.json())
                .then((data) => {
                    for(let i=0;i < data.length;i++){
                const element = document.createElement("td");
                element.appendChild(document.createTextNode(data[i].naam));
                document.getElementbyId('jeff').appendChild(element);
                });
        }
             }
        GetUsers();
        
    </script>
}
