@{
    await Geoprofs.Database.Select.PersoneelSelectQuery();
    @*await Geoprofs.Database.Insert.InsertQuery();*@
    @*await Geoprofs.Database.Update.UpdateQuery();*@

    ViewData["Title"] = "Personeelsoverzicht";
    string[] columns = { "ID", "RANK", "NAAM", "WACHTWOORD", "ACTIES" };
    List<Dictionary<string, object>> obj = Program.personeel;
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string column in columns)
            {
                <th scope="col">@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < obj.Count; i++)
        {
            <tr>
                <td><b>@obj[i]["personeelid"]</b></td>
                <td><b>@obj[i]["rankid"]</b></td>
                <td>@obj[i]["personeelsnaam"]</td>
                <td>@obj[i]["password"]</td>
                <td>
                    <button>Aanpassen</button>
                    <button onclick="deleteuser(@obj[i]["personeelid"])">Verwijderen</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function deleteuser(id){
            fetch('https://localhost:5001/Delete/User/' + id)
            .then((response)=>window.location.reload())
        }
    </script>
}
