@{

    ViewData["Title"] = "Personeelgegevens aanpassen";
    Dictionary<string,object> jeff =new();
    await Geoprofs.Database.Select.PersoneelSelectQuery();
    try
    {
     jeff = Program.personeel[int.Parse(ViewData["id"].ToString())];   
    <div class="card form-container">
        <div class="card-header">
            <b>PERSONEELGEGEVENS AANPASSEN</b>
        </div>
        <div class="card-body" style="font-weight: bold;">
                <div class="form-group">
                    <label>ID</label>
                    <input class="form-control" value="@jeff["personeelid"]" style="font-weight: bold" readonly />
                </div>
                <div class="form-group">
                    <label>RANKID</label>
                    <input id="rankid" type="number" class="form-control" name="jaar" value="@jeff["rankid"]" />
                </div>
                <div class="form-group">
                    <label>PERSONEELSNAAM</label>
                    <input id="personeelsnaam" type="text" class="form-control" name="genre" value="@jeff["personeelsnaam"]" />
                </div>
                <div class="form-group">
                    <label>WACHTWOORD</label>
                    <input id="password" type="text" class="form-control" name="tijdsduur" value="@jeff["password"]" />
                </div>
                <button onclick="updateuser()" type="submit" class="btn btn-block btn-primary">Aanpassen</button>
                <a href="/" class="btn btn-block btn-danger">
                    Annuleren
                </a>
        </div>
    </div>
    }
    catch(ArgumentOutOfRangeException e)
    {
    <p>An error occured while loading this page: Invalid ID given to update</p>
    }


    
    //await Geoprofs.Database.Update.UpdateQuery(jeff);
}



@section Scripts{
    @{
        if(jeff.Count < 1)
        {
            jeff.Add("personeelid", -1);
        }
        
    }
    <script>
console.log("Hi");
function updateuser() {
    id = @jeff["personeelid"];
    rankid = document.getElementById("rankid").value;
    personeelsnaam = document.getElementById("personeelsnaam").value;
    password = document.getElementById("password").value;
    fetch('/Update/User/' +id + "/" + rankid + '/' + personeelsnaam + '/'+password)
        .then(() => {window.location.href="/" })
        }
    </script>
}
