@{
    await Geoprofs.Database.Select.VerlofSelectQuery();
    @*await Geoprofs.Database.Insert.InsertQuery();*@
    @*await Geoprofs.Database.Update.UpdateQuery();*@

    ViewData["Title"] = "Verlofoverzicht";
    string[] columns = { "ID", "PERSONEEL", "TYPE", "OMSCHRIJVING", "VAN", "TOT", "STATUS", "ACTIES" };
    List<Dictionary<string, object>> obj = Program.verlof;
}


@if (Program.currentuser.rankid == 10)
{
    <table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string column in columns)
            {
                <th scope="col">@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < obj.Count; i++)
        {
            <tr>
                <td><b>@obj[i]["verlofid"]</b></td>
                <td><b>@obj[i]["personeelid"]</b></td>
                <td>@obj[i]["verloftypeid"]</td>
                <td>@obj[i]["verlofomschrijving"]</td>
                <td>@obj[i]["van"]</td>
                <td>@obj[i]["tot"]</td>
                <td>@obj[i]["status"]</td>
                <td>
                    <button onclick="updateVelof(@obj[i]["verlofid"], 1)">Goedkeuren</button>
                    <button onclick="updateVelof(@obj[i]["verlofid"], 2)">Afkeuren</button>
                    <button onclick="deleteverlof(@obj[i]["verlofid"])">Verwijderen</button>
                </td>
            </tr>
        }
    </tbody>
    </table>
    @section Scripts{
        <script>
            function deleteverlof(id){
                fetch('/delete/Verlof/' + id)
                .then(()=>window.location.reload())
            }

            function updateVelof(id, status){
                fetch('/update/VerlofStatusChange/' + id + '/' + status)
                .then(()=>window.location.reload())
            }
        </script>
    }
} else
{
     <table class="table">
        <thead class="thead-dark">
            <tr>
                @foreach (string column in columns)
                {
                    <th scope="col">@column</th>
                }
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < obj.Count; i++)
            {
                if (int.Parse(@obj[i]["personeelid"].ToString()) == Program.currentuser.personeelid)
                {
                    <tr>
                        <td><b>@obj[i]["verlofid"]</b></td>
                        <td><b>@obj[i]["personeelid"]</b></td>
                        <td>@obj[i]["verloftypeid"]</td>
                        <td>@obj[i]["verlofomschrijving"]</td>
                        <td>@obj[i]["van"]</td>
                        <td>@obj[i]["tot"]</td>
                        <td>@obj[i]["status"]</td>
                        <td>
                            <button onclick="deleteverlof(@obj[i]["verlofid"])">Verwijderen</button>
                        </td>
                    </tr>
                }
                
            }
        </tbody>
    </table>
    @section Scripts{
        <script>
            function deleteverlof(id){
                fetch('/delete/Verlof/' + id)
                .then(()=>window.location.reload())
            }
        </script>
    }
}

    