@{
    await Geoprofs.Database.Select.VerlofSelectQuery();
    @*await Geoprofs.Database.Insert.InsertQuery();*@
    @*await Geoprofs.Database.Update.UpdateQuery();*@

    ViewData["Title"] = "Verlofoverzicht";
    string[] columns = { "ID", "PERSONEEL", "TYPE", "OMSCHRIJVING", "VAN", "TOT", "STATUS", "ACTIES" };
    List<Dictionary<string, object>> obj = Program.verlof;
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string column in columns)
            {
                <th scope="col">@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < obj.Count; i++)
        {
            <tr>
                <td><b>@obj[i]["verlofid"]</b></td>
                <td><b>@obj[i]["personeelid"]</b></td>
                <td>@obj[i]["verloftypeid"]</td>
                <td>@obj[i]["verlofomschrijving"]</td>
                <td>@obj[i]["van"]</td>
                <td>@obj[i]["tot"]</td>
                <td>@obj[i]["status"]</td>
                <td>
                    <button>Goedkeuren</button>
                    <button>Afkeuren</button>
                </td>
            </tr>
        }
    </tbody>
</table>
    