@{
    await Geoprofs.Database.Select.SelectQuery();
    @*await Geoprofs.Database.Insert.InsertQuery();*@
    @*await Geoprofs.Database.Update.UpdateQuery();*@
    await Geoprofs.Database.Delete.DeleteQuery();

    ViewData["Title"] = "Personeelsoverzicht";
    string[] columns = { "ID", "RANK", "NAAM", "WACHTWOORD", "ACTIES" };
    List<Dictionary<string, object>> obj = Program.personeel;
}

@functions{
    public string GetHello()
    {
        return "Hello";
    }
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string column in columns)
            {
                <th scope="col">@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < obj.Count; i++)
        {
            <tr>
                <td><b>@obj[i]["personeelid"]</b></td>
                <td><b>@obj[i]["rankid"]</b></td>
                <td>@obj[i]["personeelsnaam"]</td>
                <td>@obj[i]["password"]</td>
                <td>
                    <button onclick="RazorFunction()">Aanpassen</button>
                    <button onclick="RazorFunction()">Verwijderen</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        function RazorFunction() {
            $("button").html('@GetHello()');
        }
    </script>
}
