@{
    await Geoprofs.Database.Select.SelectQuery();
    @*await Geoprofs.Database.Insert.InsertQuery();*@
    @*await Geoprofs.Database.Update.UpdateQuery();*@

    ViewData["Title"] = "Personeelsoverzicht";
    string[] columns = { "ID", "RANK", "NAAM", "WACHTWOORD", "ACTIES" };
    List<Dictionary<string, object>> obj = Program.personeel;
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string column in columns)
            {
                <th scope="col">@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < obj.Count; i++)
        {
            <tr>
                <td id="@obj[i]["personeelid"]"><b>@obj[i]["personeelid"]</b></td>
                <td><b>@obj[i]["rankid"]</b></td>
                <td>@obj[i]["personeelsnaam"]</td>
                <td>@obj[i]["password"]</td>
                <td>
                    <button>Aanpassen</button>
                    <button onclick="verwijderPersoneel(@obj[i]["personeelid"])">Verwijderen</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        async function verwijderPersoneel(int id) {
            int test = test;


            @{
                @*await Geoprofs.Database.Delete.DeleteQuery(id);*@
            }

            location.reload();
        }
    </script>
}
